@font-face {
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/TTLakes/TTLakes-Regular.woff") format("woff");
}

body {
    margin: 0;
    font-family: "TT Lakes", sans-serif;
    color: #1B1C21;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #1B1C21;
}

a:hover, button:hover {
    cursor: pointer;
}

button {
    border: none;
    background: none;
    outline: none;
    padding: 0;
}

header {
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-page-header {
    box-shadow: 0 1px 0 #D9FFF5;
}

.logo {
    margin-right: auto;
}


.service-menu {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.service-menu:before {
    content: '';
    position: absolute;
    height: 30px;
    border: 1px solid #EAEAEA;
    margin-left: -60px;
    border-right: 2px;
}

.service-menu-with-text {
    display: none;
}

.user-menu {
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.user-menu--main-page {
    margin-left: auto;
    margin-right: 15px;
    display: none;
}

.icon-button {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    outline: none;
    padding: 0;
}

.icon-button img {
    transition: 0.3s;
}

.icon-button:hover img {
    transform:  rotate(6deg);
    filter: drop-shadow(0 0 3px darkred);
}


/*  ----------  Main section  ----------  */

.main {
    background: #F8F8F8;
    position: relative;
    border-top: 1px solid #F8F8F8;
}

.main__header {
    margin: 24px 16px;
}

.main__header:before {
    content: '';
    position: absolute;
    height: 38px;
    border-right: 4px solid #41F6D7;
    margin-left: -16px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.main-menu {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.main-menu__button {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    margin-left: 20px;
    border: 2px solid transparent;
    padding: 8px 10px 8px 17px;
    background: #F8F8F8;
    transition: 0.3s;
}

.main-menu__button:hover {
    border-radius: 6px;
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    transition: 0.3s;
}

.main-article {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    display: flex;
    flex-direction: column;
}

.main-article__text {
    margin-left: 16px;
    margin-right: 16px;
}

.read-more__link {
    padding-left: 32px;
    font-size: 16px;
    color: #1B1C21;
    line-height: 24px;
    font-weight: bold;
}

.read-more__link::before {
    content: '';
    position: absolute;
    display: block;
    width: 24px;
    height: 25px;
    background: url('../img/read-more.png') no-repeat;
    transition: 0.5s;
}

.read-more__link:hover::before {
    background-position: 0 5px;
}





/*  ----------  Media  ----------  */


@media(min-width: 120px) {

    .main-article__img {
        width: 320px;
        align-self: center;
    }

    .hamburger-menu {
        margin: auto 16px;
    }
}

@media(min-width: 768px) {

    .main-article {
        flex-direction: row;
    }

    .main-article__text {
        margin-left: 24px;
        margin-right: 24px;
    }
    .main-article__img {
        margin-top: 16px;
        border-radius: 3px;
        width: 360px;
    }

    .user-menu--main-page {
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-left: auto;
        margin-right: 20px;
    }

    .hamburger-menu--header {
        margin-left: 24px;
        margin-right: 50px;
    }

    .logo--768:before {
        content: '';
        position: absolute;
        height: 30px;
        border: 1px solid #EAEAEA;
        margin-left: -25px;
        margin-top: 10px;
        border-right: 2px;
    }
}

@media(min-width: 1120px) {
    .container {
        width: 1120px;
        margin: 0 auto;
    }

    header {
        display: none;
    }

    .main-article__text {
        margin-left: 34px;
        margin-right: 34px;
    }

    .main__header {
        margin-top: 42px;
    }

    .service-menu-with-text {
        position: absolute;
        display: flex;
        right: 30px;
        top: 15px;
        margin-top: 42px;
    }

    .service-menu-item {
        display: flex;
        align-items: center;
    }

    .service-menu-item-text {
        margin-right: 9px;
        margin-left: 32px;
        font-weight: bold;
    }

    .main-article__img {
        width: 531px;
    }
    }



/* ---------- Mobile Menu -------- */

.mobile-window-container {
    width: 320px;
    -webkit-box-shadow: 5px -5px 10px grey;
    -moz-box-shadow: 5px -5px 10px grey;
    box-shadow: 5px -5px 10px grey;
    padding-left: 24px;
    padding-right: 24px;
}

.mobile-window-header__close-button {
    margin-right: 16px;
}

.mobile-window-menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 252px;
}

.mobile-window-menu__button  {
    padding: 16px 0px;
    line-height: 24px;
}

.mobile-window-menu__button:hover  {
    color: #7E7E82;
}

.mobile-window-menu__button:hover::before  {
    content: '';
    position: absolute;
    height: 38px;
    border-right: 4px solid #41F6D7;
    margin-left: -24px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}



/* ---------- Footer ---------- */

footer {
    padding-bottom: 25px;
}

.e-mail {
    font-size: 16px;
    line-height: 24px;
}

.phone {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}

.language-menu__button {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 7px;
    width: 24px;
    height: 24px;
}

.language-menu__button:hover {
    color: #7E7E82;
}